@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$dark-blue-main: hsl(217, 54%, 11%);
$dark-blue-card: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$font-size: 18px;

html,
body {
  height: 100vh;
  display: grid;
}

html {
  font-size: $font-size;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: $dark-blue-main;
}

img {
  max-width: 100%;
  block-size: auto;
}

.text-white {
  color: $white;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $cyan;
    cursor: pointer;
  }
}

.attribution {
  margin-top: 2rem;
  color: $white;
}
